.vscode

#-[ UNIQUE To Local Enviros, Analogous To CRA `env.local` file ]---------------#
assets/testDirs.json
build/PrEis.jar

#-[ File Writer (& Otherwise) Test Output Files ]------------------------------#
tests/outputs

#-[ All Windows Batch Scripts ]------------------------------------------------#
*.bat